body{
  background-color: rgb(108, 117, 125);
}
.btn:hover{
  cursor: pointer;
}
.rev--buttons{
  display: block;
}
.read--btn{
  font-weight: 500;
}
.stars{
  font-family: sans-serif;
  padding: 10px 0;
}
.logo{
  margin:0 0 0 10px;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.header--bar{
  background-color: black;
}
.nav{
  padding: 0 5rem;
  display: flex;
  justify-content: space-around;
}
.nav-link{
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-top: solid 2px rgba(0, 0, 0, 0);
  border-bottom: solid 2px rgba(0, 0, 0, 0);
  transition: ease-in-out 200ms;
}
.nav-link:hover{
  color: rgb(189, 0, 0);
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  border-top: solid 2px rgb(189, 0, 0);
  border-bottom: solid 2px rgb(189, 0, 0);
  font-weight: bold;
  transform: scale(1.05);
}
.hero{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-self: center;
  background-color: black;
  margin: 0;
  color:white;
}
.hero--container{
  align-content: center;
  align-self: center;
  margin: 0;
  color:white;
}
.hero--title{
  font-size: 3rem;
  display: flex;
  margin-left: 2rem;
  justify-content:center;
  align-self: center;
}
.hero--par{
  margin-left: 2rem;
}
.hero--img{
  width:500px;
  display: flex;
  margin:0 0 1rem auto;
  align-self: flex-end;
}
.counter{
  display:flex;
  margin:auto;
  justify-content: center;
  align-items: center;
}
.card--container{
  display:flex;
  flex-wrap: wrap;
  position: relative;
  margin:auto;
  justify-content: space-evenly;
  filter: drop-shadow(3px 2px 3px rgb(0, 0, 0));
}
.card-img{
  width:320px;
  height: 450px;
  padding:0px;
  cursor:pointer;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.img--box{
  display:flex;
  justify-content: center;
  align-items:center;
  cursor:pointer;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card{
  width: 320px;
  margin: 2rem 1rem;
}
.card--main{
  height:80px;
}
.card--text{
  margin:auto;
  padding: 30px;
  position:absolute;
  background: rgba(0, 0, 0, 0.9);
  opacity:0;
  width:320px;
  height:450px;
  overflow:auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 400ms ease-in-out;
}
.img--box:hover .card--text{
  opacity:1;
}
.title{
  margin-top: 1rem;
  color:rgb(212, 51, 67);
  font-weight: bold;
  text-align: center;
}
.user{
  color:rgb(212, 51, 67);
  font-weight: bold;
  font-size: 20px;
}
ul{
  list-style-type: none;
  padding: 0;
}
.rating{
  color:rgb(212, 51, 67);
  font-weight: bold;
}
/* --------REVIEW MODAL POP UP--------- */
.star{
  padding:0 0 4px 4px;
  width:20px;
  filter: invert(0%) sepia(48%) saturate(9%) hue-rotate(160deg) brightness(96%) contrast(102%);
}
.star:hover{
  filter: invert(0%) sepia(48%) saturate(9%) hue-rotate(160deg) brightness(96%) contrast(102%);
}
.reviews-btn{
  margin:auto;
  justify-self: center;
  width:100%;
}
.reviews-modal{
  position:fixed;
  justify-content: flex-start;
  align-items: flex-start;
  overflow:auto;
  color:black;
  left:50%;
  top:auto;
  z-index: 11;
  margin:auto;
  width: 50%;
  height: 650px;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(216, 216, 216);
  background: linear-gradient(200deg,
    #c2c3c6, 
    #afb1b5, 
    #c2c3c6,  
    #afb1b5,  
    #afb1b5,
    #afb1b5,
    #c2c3c6);
  transform: translate(-50%, -80%); 
  filter:drop-shadow(4px 4px 5px rgb(31, 30, 30));
}
.name-input{
  width: 250px !important;
}
.warning{
  height:30px;
  color:rgb(212, 51, 67);
  font-weight: 700;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius:15px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgb(216, 216, 216);
  border-radius:15px;
  margin:6px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius:15px
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(212, 51, 67);
  border-radius:15px
}
/* -----------FOOTER------------ */
.socials-container{
  display:flex;
  gap:2rem;
  margin: 1rem auto 0 auto;
  justify-content:center;
  justify-items: center;
  align-items: center;
  text-align:center;
}
.logos{
  filter:invert(0%) sepia(84%) saturate(7472%) hue-rotate(283deg) brightness(119%) contrast(109%) drop-shadow(2px 2px 2px rgba(0, 0, 0, .8));
  width:45px;
  justify-self: center;
  padding:0 10px;
}
.logos:hover{
  filter: invert(8%) sepia(99%) saturate(6336%) hue-rotate(2deg) brightness(92%) contrast(109%) drop-shadow(3px 3px 3px rgb(0, 0, 0));
  color: #bd0000;
  transform:scale(1.1);
}
.dates{
  display:flex;
  justify-content:center;
  margin: 0 auto 1rem auto;
}
@media only screen and (max-width:1200px){
  .reviews-modal{
    width: 60%;
    transform: translate(-50%, -90%); 
  }
}   
@media only screen and (max-width:700px){
  .hero--img{
    width:350px;
  }
  .hero--title{
    font-size: 2.5rem;
    margin: 2rem;
  }
  .reviews-modal{
    width: 80%;
    height: 600px;
    transform: translate(-50%, -80%); 
  }
}  
@media only screen and (max-width:500px){
  .hero--img{
    display: none;
  }
  .hero--title{
    font-size: 2rem;
    margin: 0.5rem;
  }
  .hero--par{
    display:flex;
    justify-content:flex-start;
    align-content:center;
    align-items:flex-start;
    margin: 0 2rem .5rem 2rem;
  }
}  
@media only screen and (max-width:400px){
  .card-img{
    width:240px;
    height: 340px;
    align-self: center;  
  }
  .card{
    width: 240px;
    margin: 1rem .5rem;
  }
  .hero--img{
    display: none;
  } 
  .hero--title{
    font-size: 1.5rem;
    margin: 0.5rem;
    text-align: center;
  }
  .hero--par{
    margin: 0 1.5rem .5rem 1.5rem;
    font-size: 12px;
  }
 
  .card--text{
    padding: 20px;
    width:240px;
    height:340px;
  }
}  
